In [1]:
import pandas as pd

In [5]:
groceries = pd.Series(data=[60, 29, 'Yes', 'No'], index=['apples', 'oranges', 'eggs','milk'])
groceries

apples      60
oranges     29
eggs       Yes
milk        No
dtype: object

In [6]:
groceries.shape

(4,)

In [7]:
groceries.ndim

1

In [8]:
groceries.size

4

In [9]:
groceries.index

Index(['apples', 'oranges', 'eggs', 'milk'], dtype='object')

In [10]:
groceries.values

array([60, 29, 'Yes', 'No'], dtype=object)

In [11]:
'mango' in groceries

False

In [12]:
'egg' in groceries

False

In [13]:
'eggs' in groceries

True

In [14]:
groceries['apples']

60

In [15]:
groceries[[0, 2]]

apples     60
eggs      Yes
dtype: object

In [16]:
groceries[-1]

'No'

In [20]:
groceries.iloc[[1, 3]]

oranges    29
milk       No
dtype: object

In [24]:
groceries['apples'] = 33

In [25]:
groceries

apples      33
oranges     29
eggs       Yes
milk        No
dtype: object

In [26]:
groceries.drop('eggs')

apples     33
oranges    29
milk       No
dtype: object

In [27]:
groceries

apples      33
oranges     29
eggs       Yes
milk        No
dtype: object

In [28]:
groceries.drop('eggs', inplace=True)

In [29]:
groceries

apples     33
oranges    29
milk       No
dtype: object

## arithmetic operations

In [30]:
fruits = pd.Series([55,39, 71], ['yams', 'drinks', 'plantain' ])
fruits

yams        55
drinks      39
plantain    71
dtype: int64

In [31]:
fruits + 5

yams        60
drinks      44
plantain    76
dtype: int64

In [32]:
fruits - 23

yams        32
drinks      16
plantain    48
dtype: int64

In [33]:
fruits / 4

yams        13.75
drinks       9.75
plantain    17.75
dtype: float64

In [34]:
fruits  * 2

yams        110
drinks       78
plantain    142
dtype: int64

In [35]:
fruits % 5

yams        0
drinks      4
plantain    1
dtype: int64

In [37]:
import numpy as np

fruits

yams        55
drinks      39
plantain    71
dtype: int64

In [38]:
np.sqrt(fruits)

yams        7.416198
drinks      6.244998
plantain    8.426150
dtype: float64

In [39]:
np.exp(fruits)

yams        7.694785e+23
drinks      8.659340e+16
plantain    6.837671e+30
dtype: float64

In [41]:
np.power(fruits, 3)

yams        166375
drinks       59319
plantain    357911
dtype: int64

In [42]:
fruits['yams'] / 11

5.0

In [44]:
fruits.iloc[2] - 4

67

In [46]:
fruits[['drinks', 'plantain']] / 4

drinks       9.75
plantain    17.75
dtype: float64

In [47]:
fruits * 2

yams        110
drinks       78
plantain    142
dtype: int64

In [48]:
groceries * 3

apples         99
oranges        87
milk       NoNoNo
dtype: object

In [49]:
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

In [67]:
dist_planets = pd.Series(data=distance_from_sun, index=planets)
dist_planets

Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64

In [56]:
time_light = dist_planets / 18
time_light

Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64

In [66]:
import numpy as np


close_planets = time_light[time_light < 40]
close_planets

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64