In [2]:
import pandas as pd
import numpy as np

In [5]:
mee = pd.read_csv('my_class2.csv')
mee.head()

,PRODUCTS,DAYS,UNITS BOUGHT,UNIT SOLD,CP/UNIT,SP/UNIT,TCP,TSP,GP,TAX,NP,statement1,statement2,statment3,statemennt4,statemennt5,STATEMENT5
0,MILK,MONDAY,60.0,55.0,300.0,360.0,18000.0,21600.0,3600.0,180.0,3420.0,TRUE,TRUE,FALSE,TRUE,TRUE,WORKING DAY
1,COFFEE,SATURDAY,34.0,28.0,480.0,576.0,16320.0,19584.0,3264.0,163.2,3100.8,TRUE,TRUE,TRUE,TRUE,FALSE,WEEKEND
2,BREAD,TUESDAY,62.0,67.0,1200.0,1440.0,74400.0,89280.0,14880.0,744.0,14136.0,TRUE,TRUE,FALSE,TRUE,TRUE,WORKING DAY
3,EGGS,FRIDAY,52.0,32.0,50.0,60.0,2600.0,3120.0,520.0,26.0,494.0,FALSE,FALSE,FALSE,FALSE,TRUE,WORKING DAY
4,BULTER,SUNDAY,18.0,22.0,250.0,300.0,4500.0,5400.0,900.0,45.0,855.0,FALSE,FALSE,FALSE,TRUE,FALSE,WEEKEND

In [7]:
mon = mee[mee['DAYS']=='MONDAY']
mon.head()

,PRODUCTS,DAYS,UNITS BOUGHT,UNIT SOLD,CP/UNIT,SP/UNIT,TCP,TSP,GP,TAX,NP,statement1,statement2,statment3,statemennt4,statemennt5,STATEMENT5
0,MILK,MONDAY,60.0,55.0,300.0,360.0,18000.0,21600.0,3600.0,180.0,3420.0,TRUE,TRUE,FALSE,TRUE,TRUE,WORKING DAY

In [6]:
epe = pd.read_csv('epe.csv')
epe.head()

,Timestamp,First Name,Surname,Phone Number,Date of Birth,Gender,Highest Qualification,Occupation,Skills,Hobbies,PARISH,SOCIETY,Email address,State of Origin,POSITION HELD IN CYON,Unnamed: 15
0,3/2/2020 14:42:05,Patricia Oluebube,Nworie,8089628869,4/8/1991,Female,Some college but no degree,Teaching assistant,"Baking, Soap making","Cooking, Singing, Games, Movies, Reading","Catholic Church of the Annunciation, Abraham A...",MCA,greaterebube@gmail.com,Ebony state,Assistant Deanery coordinator,NaN
1,3/1/2020 19:58:22,Martina,Nwachukwu,8170095369,4/4/1991,Female,NCE,Teacher,Fashion designer,"Cooking, Singing, Football, Reading",Catholic Church of the Assumption Awoyaya,Legion of Mary,onyinyechichristopher424@gmail.com,Imo,Member,NaN
2,3/2/2020 0:26:20,Cynthia,Nwaeze,8105980674,6/11/1998,Female,Bachelors degree,A student and a caterer,Baking,"Cooking, Singing, Movies, Reading, Surfing",Catholic Church of the Assumption Awoyaya,"Lector, Sacred Heart",chiamakanwaeze8@gmail.com,Imo state,Deanery Executive,NaN
3,3/8/2020 11:43:06,Joseph,Agunbiade,9026063032,1/26/2002,Male,High School,Cafe managing,Microsoft Office,"Football, Sprinting (running races) an athlete",Catholic Church of the Assumption Awoyaya,Sacred Heart,josephagunbiade5@gmail.com,Ondo,Member,NaN
4,3/10/2020 21:20:38,Ginikachukwu,Ifedioramma,8032723663,9/3/1988,Female,Bachelors degree,interior decoration,Capentery,"Cooking, Singing, Football, Movies",Catholic Church of the Assumption Awoyaya,Sacred Heart,ginikaedithife@gmail.com,Imo state,Member,NaN

In [8]:
epe_male = epe[epe['Gender']=='Male']
epe_male.head()

,Timestamp,First Name,Surname,Phone Number,Date of Birth,Gender,Highest Qualification,Occupation,Skills,Hobbies,PARISH,SOCIETY,Email address,State of Origin,POSITION HELD IN CYON,Unnamed: 15
3,3/8/2020 11:43:06,Joseph,Agunbiade,9026063032,1/26/2002,Male,High School,Cafe managing,Microsoft Office,"Football, Sprinting (running races) an athlete",Catholic Church of the Assumption Awoyaya,Sacred Heart,josephagunbiade5@gmail.com,Ondo,Member,NaN
7,3/10/2020 21:35:31,David,Omuafia,8061607095,6/15/1990,Male,High School,Driver/Laundry,Microsoft Office,"Cooking, Games, Movies, Reading",Catholic Church of the Assumption Awoyaya,Legion of Mary,davidomuafia@gmail.com,Cross River,Parish Executive,NaN
8,3/10/2020 23:27:38,Emeka,Ikegwuruka,8061375116,10/18/1987,Male,Bachelors degree,Store keeper and sales personel,Microsoft Office,"Cooking, Singing, Football, Games, Movies, Bro...",Catholic Church of the Assumption Awoyaya,Legion of Mary,ikegwuruka.emeka@yahoo.com,IMO state,Parish Executive,NaN
11,2/29/2020 10:59:05,Sylvester,Aghedo,8060162066,6/10/1990,Male,Bachelors degree,Unemployed,Microsoft Office,"Football, Reading",Holy Rosary Catholic Church Ibeju,"Legion of Mary, Church Warden",slyzeal4joe@gmail.com,Edo,Parish President,NaN
12,2/29/2020 11:12:18,Benjamin,Manaba,2348072423256,12/2/1990,Male,HND,Civil Engineering/Construction.,"Baking, Microsoft Office","Cooking, Games, Surfing, Browsing",Holy Rosary Catholic Church Ibeju,"Lector, CCRN",mbenjgy@gmail.com,Kogi State,Parish Secretary,NaN

In [10]:
epem = epe['Gender'] == 'Male'
print(epem)

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23    False
24     True
25     True
26     True
27     True
28     True
29    False
30    False
31     True
32    False
33     True
34     True
35    False
36    False
37     True
38     True
39     True
40     True
41     True
42    False
43    False
Name: Gender, dtype: bool